<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulostaulu</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="wrapper">
        <h1>Tulostaulu</h1>

        <br>
        <br>
        
        <% Object.keys(rez).forEach(element => { %>
            <h5> <%= element %>: <%= rez[element] %>p </h5>
        <% }) %>
    </div>

</body>
</html>

