<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>------</title>
</head>

<nav>
    <div class="sidenav">
        <div>
            <img src="/photos/logo2.jpg">
        </div>
        <a style="margin-top: 80px;" href="/">Etusivu</a>
        <a href="/tehtavat">Tehtävät</a>
        <a href="/tulostaulu">Tulostaulu</a>
        <% if (locals.loggedin != true) { %>
        <a href="/login">Kirjaudu</a>
        <a href="/register">Rekisteröidy</a>
        <label>EI KIRJAUTUNUT</label>
        <% } else { %>
        <label style="display: none">KIRJAUTUNUT</label>

        <form action="/logout?_method=POST" method="POST">
            <button type="submit">Kirjaudu Ulos</button>
        </form>

        <form>
            <a style="" href="/profiili">Profiili</a>
        </form>

        <br>
        <br>

        <hr>
        
        <% } %>
    </div>

</nav>

<div style="display: block">
    <%- body %>
</div>

<script>

$(function() {

  $("#.logoutid").on("click",function(e) {
    e.preventDefault(); // cancel the link itself
    $.post("/logout",function(data) {
      $("#logoutid").html(data);
    });
  });

});


$(function()
{



    $("*logoutlink").on("click", function()
    {
        document.getElementById("logoutlink").style.color = "#03BD00";
    }
}

</script>

</html>