<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>------</title>
</head>

<nav>
    <div class="sidenav">
        <div>
            <img src="https://lh3.googleusercontent.com/5nEwVXYOTHLjC2xnZbnwTjfIVOE0t94rMThtswza7fpRa7Dgi_IDO8yMyKKTP-95EnnRD_BTq8l_jK6i2fn_bsRKW6C3CKT-WtVLMUjaj7utsd1F0wWC-kiCtTxTk6r_UowwoRsyabXW0a_ySo6ELcSHWUGeDplVIVnLikw-rTE4t5RdU4v5ZL9FOamvnjYDKkA1ofeZClKLa_arEB6YbPH1EJvd03MlkV5wbcftig-a9WA569Y4PJjSKevfgi5rv3qPT1q7ayTH4iaOIZtteWaz54KMHd-Rh8uDu1PbgM4SUUt8YfxzBauJpUWOrDkGASIvOt7wxNSpmo_YkTN4wTU8JCqM0P9m_5UoAiZA79WbNzlKA4MPbo2ynUKndq4irz5-_uyfl1YHQjITIYWi2QBgZtcjaFQ5gsRWn12JR-BkCRF9OHco6RYK91PVLOnUsQwBZEiOrHuhVz4kIQSTcjvxfjHC1lgxT-uloIibOZlwGJV1AlrUj-zVajz2IvDSHQy9N_Aj77bKOrxQoE0gyImJ9ybFF7gjBjxnIA4xTflm9sLv5w-cRJl-KSAOpk0-FsjhrAPQHw0JC5UM0a9vqasdJjUbnhURmc-eM5dBBRFzX4DajGPAFzQl5BT-RvxrfOjKWhoOQZDMKQaW2HZnejpKB_yC02ZNF-qJMubJUTSEugjOoFUV4t-I=w345-h111-no?authuser=0">
        </div>
        <a style="margin-top: 80px;" href="/">Etusivu</a>
        <a href="/tehtavat">Tehtävät</a>
        <a href="/tulostaulu">Tulostaulu</a>
        <% if (locals.loggedin != true) { %>
        <a href="/login">Kirjaudu</a>
        <a href="/register">Rekisteröidy</a>
        <label>EI KIRJAUTUNUT</label>
        <% } else { %>
        <label style="display: none">KIRJAUTUNUT</label>

        <form action="/logout?_method=POST" method="POST">
            <button type="submit">Kirjaudu Ulos</button>
        </form>

        <form>
            <a href="/profiili">Profiili</a>
        </form>

        <br>
        <br>

        <hr>
        
        <% } %>
    </div>

</nav>

<div style="display: block">
    <%- body %>
</div>

</html>