<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMK Valikko</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
</head>
<body>

    <div class="wrapper">
        <h1>Valitse kategoria</h1>

        <br>
        <div class="taskmenu">
            <br>
            <br>
            <!-- <form action="/tehtavat/kaikki">
                <button type="submit">Kaikki kategoriat</button>
            </form> -->
            <form action="/tehtavat/paatoksentekotaidot">
                <button style="width: 200px;" type="submit">Päätöksenteko</button>
            </form>
            <form action="/tehtavat/matematiikka">
                <button style="width: 200px;" type="submit">Matematiikka</button>
            </form>
            <form action="/tehtavat/suomi">
                <button style="width: 200px;" type="submit" disabled>Suomi</button>
            </form>
            <form action="/tehtavat/englanti">
                <button style="width: 200px;" type="submit">Englanti</button>
            </form>
        </div>
    </div>
    
</body>
</html>