<form action="/tehtavat/luo" method="POST">
    <div>
        <label style="margin-left: 350px" for="question" name="question">Kysymys</label>
        <textarea style="margin-left: 350px; white-space: pre-wrap" type="text" id="question" name="question" rows="6" cols="50" required></textarea>
    </div>
    <div>
        <label style="margin-left: 350px" for="imageurl" name="imageurl">Kuva URL</label>
        <input style="margin-left: 350px; white-space: pre-wrap" type="text" id="imageurl" name="imageurl">
    </div>
    <div>
        <label style="margin-left: 350px" for="description" name="description">Lisätiedot</label>
        <textarea style="margin-left: 350px; white-space: pre-wrap" type="text" id="description" name="description" required></textarea>
    </div>
    <div>
        <label style="margin-left: 350px" for="descriptionimageurl" name="descriptionimageurl">Lisätietokuva URL</label>
        <input style="margin-left: 350px; white-space: pre-wrap" type="text" id="descriptionimageurl" name="descriptionimageurl">
    </div>
    <div>
        <label style="margin-left: 350px" for="category" name="category">Kategoria</label>

        <% const categories = ["Päätöksentekotaidot", "Matematiikka", "Suomi", "Englanti"] %>
        <select style="margin-left: 350px" name="category">
            <% categories.forEach(element => { %>
            <option label=" <%= element %>" value="<%= element %>">
            <% }) %>
        </select>
    </div>
    <div>
        <label style="margin-left: 350px" name="optionA">Vaihtoehto A</label>
        <input style="margin-left: 350px" type="text" id="optionA" name="optionA" required>
    </div>
    <div>
        <label style="margin-left: 350px" name="optionB">Vaihtoehto B</label>
        <input style="margin-left: 350px" type="text" id="optionB" name="optionB" required>
    </div>
    <div>
        <label style="margin-left: 350px" name="optionC">Vaihtoehto C</label>
        <input style="margin-left: 350px" type="text" id="optionC" name="optionC">
    </div>
    <div>
        <label style="margin-left: 350px" name="optionD">Vaihtoehto D</label>
        <input style="margin-left: 350px" type="text" id="optionD" name="optionD">
    </div>
    <div>
        <label style="margin-left: 350px" name="correctOption">Oikea vaihtoehto (A, B, C, D)</label>
        <input style="margin-left: 350px" type="text" id="correctOption" name="correctOption">
    </div>
    
    <button style="margin-left: 350px" type="submit">OK</button>
</form>