<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Valitse kategoria</h1>

    <br>
    <div class="taskmenu">
        <br>
        <br>
        <form action="/tehtavat/kaikki">
            <button type="submit">Kaikki kategoriat</button>
        </form>
        <form action="/tehtavat/valioliiga">
            <button type="submit">Valioliiga</button>
        </form>
        <form action="/tehtavat/laliga">
            <button type="submit">La Liga</button>
        </form>
        <form action="/tehtavat/bundesliga">
            <button type="submit">Bundesliga</button>
        </form>
        <form action="/tehtavat/seriea">
            <button type="submit">Serie A</button>
        </form>
    </div>
</body>
</html>