<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Brand design, We help and solve your business problem, ​​We focus on ensuring a competitive edge, ​Flexible Distance Learning, 8 650, 2 500, 1 500, 9 000, Our Services, Need More Information?, Our Latest Work">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Etusivu</title>
    <link rel="stylesheet" href="/nicepage.css" media="screen">
<link rel="stylesheet" href="/Etusivu.css" media="screen">
    <script class="u-script" type="text/javascript" src="/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.2.6, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#1281e8">
    <meta property="og:title" content="Etusivu">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body"><header class="u-align-center-xs u-clearfix u-header u-header" id="sec-9afa"><div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-headline u-text u-text-default u-text-1">
          <a href="/">OPINTOPISTE</a>
        </h3>
        <nav class="u-dropdown-icon u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse">
            <a class="u-button-style u-custom-left-right-menu-spacing u-nav-link" href="#">
              <svg viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled"><li class="u-nav-item"><a class="u-button-style u-nav-link" style="padding: 10px;">Etusivu</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/tehtavat" style="padding: 10px;">Tehtävät</a><div class="u-nav-popup"><ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link u-white">Ammattikorkeakoulu</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-white">Kauppakorkeakoulu</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-white">Lääketieteet</a>
</li></ul>
</div>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" style="padding: 10px;">Opintohakukone</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" style="padding: 10px;">Tulostaulu</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" style="padding: 10px;">Etusivu</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/register" style="padding: 10px;">Rekisteröidy</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/login" style="padding: 10px;">Kirjaudu</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-3"><li class="u-nav-item"><a class="u-button-style u-nav-link" style="padding: 10px;">Etusivu</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/tehtavat" style="padding: 10px;">Tehtävät</a><div class="u-nav-popup"><ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-4"><li class="u-nav-item"><a class="u-button-style u-nav-link">Ammattikorkeakoulu</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link">Kauppakorkeakoulu</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link">Lääketieteet</a>
</li></ul>
</div>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" style="padding: 10px;">Opintohakukone</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" style="padding: 10px;">Tulostaulu</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" style="padding: 10px;">Etusivu</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/register" style="padding: 10px;">Rekisteröidy</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/login" style="padding: 10px;">Kirjaudu</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-align-center u-clearfix u-image u-section-1" id="carousel_3182" data-image-width="6400" data-image-height="4100">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-group u-white u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h1 class="u-align-center u-custom-font u-font-roboto-condensed u-text u-text-1" data-animation-name="fadeIn" data-animation-duration="2000" data-animation-direction="">Oppaasi ja valmentajasi pääsykokeisiin<br>
            </h1>
            <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
              <div class="u-layout">
                <div class="u-layout-row">
                  <div class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-layout-cell u-size-24 u-layout-cell-1">
                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                      <a class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1">Kirjaudu</a>
                    </div>
                  </div>
                  <div class="u-align-center u-container-style u-layout-cell u-size-11 u-layout-cell-2">
                    <div class="u-container-layout u-valign-middle u-container-layout-3">
                      <h5 class="u-text u-text-default u-text-2">&nbsp;</h5>
                    </div>
                  </div>
                  <div class="u-align-center-sm u-align-center-xs u-align-right-lg u-align-right-md u-align-right-xl u-container-style u-layout-cell u-size-25 u-layout-cell-3">
                    <div class="u-container-layout u-valign-middle u-container-layout-4">
                      <a class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-2">Rekisteröidy</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center-md u-align-center-sm u-align-center-xs u-clearfix u-white u-section-2" id="carousel_db52">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center-lg u-align-center-xl u-heading-font u-text u-text-1" data-animation-name="fadeIn" data-animation-duration="2000" data-animation-direction="">Ammattikorkeaan tai yliopistoon</h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1"><span class="u-align-left u-file-icon u-icon u-icon-rectangle u-icon-1"><img src="images/3077325.png" alt=""></span>
                <h3 class="u-text u-text-default u-text-2">Opintohakukone</h3>
                <p class="u-text u-text-grey-40 u-text-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2"><span class="u-align-left u-file-icon u-icon u-icon-rectangle u-icon-2"><img src="images/906334.png" alt=""></span>
                <h3 class="u-text u-text-default u-text-4">Pääsykoetehtävät</h3>
                <p class="u-text u-text-grey-40 u-text-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-3">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3"><span class="u-align-left u-file-icon u-icon u-icon-rectangle u-icon-3"><img src="images/2972085.png" alt=""></span>
                <h3 class="u-text u-text-default u-text-6">Oppimateriaalit</h3>
                <p class="u-text u-text-grey-40 u-text-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
              </div>
            </div>
          </div>
        </div>
        <a href="https://nicepage.com/k/prescription-medicine-html-templates" class="u-border-2 u-border-active-black u-border-black u-btn u-button-style u-hover-black u-none u-text-active-black u-text-black u-text-hover-white u-btn-1">Liity mukaan</a>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer" id="sec-3bf8"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Opintopiste 2021</p>
      </div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      
      
    </section>
  </body>
</html>