<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASDASD</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div style="margin-top: 250px; overflow: visible;">
        <img style="width: 100%;" src="https://lh3.googleusercontent.com/O7adA5gJEpx9VbavefQV0Bwf0RhtiZWE9A_gSZ_H5zUtEhclsaNwOT56aUA5u6io5Y_z8El0-_yZ91JhzznfjeUWtBk0e0_aBgqqxG1iztJCjIg-TpjZ9UIKTdTsaGC8C3PUMbL495tsEyIzkrWfsR_08QmXXK31tIOVxffv-HOoeH_TVtnDrJvlh9OgBSNxYbNqU5qEx_rPwbLpi6uJ7iuH79hybSHDmO0bij7pgehQABw_yiBqkwps9KrQBvZYAVROTsn-3G7uEB4loC7q6AwBso6AnBucUE1DO9uWYfgib-1yL4E1TaZYdWRvxzROPsxaEH2bawQelp0ZqBc1Z2bf70GzE6Ya6HCKTwdT8M_vUDOuqReOSkN_9h7x2x7ntpUbhlvAN4n55h9Gkj0W19Kth8BBL6EQvAoyq9NfVRobrtY8MTiZx4wY0oZaKrMzvp7XD4xdl2uUZ1Zs97OXND1hmTMC87rNFuW7NBxTjO4WuvbyHYr-obPZXRlUrJwhbKY6oCACh4CUiMrpVQALuK3OjDa2IScfE2Ypk7Nna5O1zCVa8IgU8ASqPjsG-0pGGhSqf9tMc-0kMq-5QGd6bIKTZfmRkbcV2gFS7qmee7MI2B5U8UD5PZilYdaWkPwnHlujv8d-tjQPjdEI_aByXJh7DAQubo7t6kgLKql6XMXc3f4xrm4hD9-q=w1920-h262-no?authuser=0">
    </div>

    <div style="margin-top: 30px;" class="wrapper">

        <br>
        <p style="font-size: 18px;">Sisältö <%= new Intl.DateTimeFormat('fi', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date()) %>:</p>

        <p style="font-size: 24px;">Ammattikorkeakoulu</p>
        <li style="font-size: 18px;">Päätöksentekotaidot</li>
        <li style="font-size: 18px;">Matematiikka</li>
        <li style="text-decoration: line-through; font-size: 18px;">Suomi</li>
        <li style="font-size: 18px;">Englanti</li>
        <li style="text-decoration: line-through; font-size: 18px;">Eettiset taidot</li>

        <br>
        <br>
        <p style="font-size: 18px;">To Do:</p>

        <p style="text-decoration: line-through; font-size: 24px;">Matematiikka: osioiden jaottelu</p>
        <p style="text-decoration: line-through; font-size: 24px;">Värit, kuvat, ikonit ja fontit</p>
        <p style="text-decoration: line-through; font-size: 24px;">Kauppakorkeakoulu</p>
        <p style="text-decoration: line-through; font-size: 24px;">Teknillinen Korkeakoulu</p>
        <p style="text-decoration: line-through; font-size: 24px;">Lääketieteellinen</p>

    </div>
    <a href="/tehtavat/admin">Admin</a>
</body>
</html>

