<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASDASD</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div style="margin-top: 250px; overflow: visible;">
        <img style="width: 100%;" src="https://i.postimg.cc/Y9ZXx1N1/books.jpg">
    </div>

    <p class="infotext">Käytä tietokonetta, kiitos!</p>

    <div style="margin-top: 30px;" class="wrapper">

        <br>
        <p style="font-size: 18px;">Sisältö <%= new Intl.DateTimeFormat('fi', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date()) %>:</p>

        <p style="font-size: 24px;">Ammattikorkeakoulu</p>
        <li style="font-size: 18px;">Päätöksentekotaidot</li>
        <li style="font-size: 18px;">Matematiikka</li>
        <li style="text-decoration: line-through; font-size: 18px;">Suomi</li>
        <li style="font-size: 18px;">Englanti</li>
        <li style="text-decoration: line-through; font-size: 18px;">Eettiset taidot</li>

        <br>
        <br>
        <p style="font-size: 18px;">To Do:</p>

        <p style="text-decoration: line-through; font-size: 24px;">Matematiikka: osioiden jaottelu</p>
        <p style="text-decoration: line-through; font-size: 24px;">Värit, kuvat, ikonit ja fontit</p>
        <p style="text-decoration: line-through; font-size: 24px;">Harjoituskokeet</p>
        <p style="text-decoration: line-through; font-size: 24px;">Vaikeusasteet</p>
    </div>
    <a href="/tehtavat/admin">Admin</a>
</body>
</html>

